# .NET
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# NuGet
**/packages/
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/

# Build directories
**/build/
**/bld/
**/Build/
**/bld/

# Office Temp Files
~$*

# IDEs
.idea/
.vscode/
.Rproj.user/
*.sublime-project
*.sublime-workspace

# Logs
**/*.log

# Application configuration files
appsettings*.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*
